@use './variables' as *;

@mixin hover() {
    cursor: pointer;
    @content;
}

@mixin mq($key) {
    $size: map-get($breakpoints, $key);
    
    @media only screen and (min-width: $size) {
        @content;
    }
}

@mixin button() {
    font-size: $fs-button-mobile;
    line-height: $lh-button;
    font-family: $ff-button;
    font-weight: $fw-button;
    color: map-get($colors, neutral, 100);

    border: none;
    @include hover();

    @include mq(small){
        font-size: $fs-button-tablet;
    }
}

@mixin button__wob {
    @include button;
    @include hover(){
        background-color: map-get($colors, accent, button__wob-hover);
    }
}

@mixin button__wop {
    @include button;
    @include hover(){
        background-color: map-get($colors, accent, button__wop-hover);
    }
}

@mixin button__arrow {
    @include button();
    @include hover(){
        background-color: map-get($colors, accent, arrows-hover);
    }
}

@mixin title() {
    font-size: $fs-title-mobile;
    line-height: $lh-title;
    font-family: $ff-title;
    font-weight: $fw-title;
    color: map-get($colors, neutral, 900);

    @include mq(small){
        font-size: $fs-title-tablet;
    }

    @include mq(medium){
        font-size: $fs-title-desktop;
    }
}

@mixin description() {
    font-size: $fs-description-mobile;
    line-height: $lh-description-mobile;
    font-family: $ff-description;
    font-weight: $fw-description;

    @include mq(small){
        font-size: $fs-description-tablet;
        line-height: $lh-description-mobile;
    }

    @include mq(medium){
        font-size: $fs-description-desktop;
        line-height: $lh-description-desktop;
    }
}

@mixin description__top() {
    @include description();
    color: map-get($colors, neutral, 500);
}

@mixin description__bottom() {
    @include description();
    color: map-get($colors, neutral, 200);
}

@mixin card-title() {
    font-size: $fs-card-title;
    list-style: $lh-card-title;
    font-family: $ff-card-title;
    font-weight: $fw-card-title;
    color: map-get($colors, neutral, 100);
}

@mixin subtitle() {
    font-size: $fs-subtitle-mobile;
    line-height: $lh-subtitle;
    font-family: $ff-subtitle;
    font-weight: $fw-subtitle;

    @include mq(small){
        font-size: $fs-subtitle-tablet;
    }

    @include mq(medium){
        font-size: $fs-subtitle-desktop;
    }
}

@mixin subtitle__top {
    @include subtitle();
    
    color: map-get($colors, neutral, 900);
}

@mixin subtitle__bottom {
    @include subtitle();
    color: map-get($colors, neutral, 200);
}