@use '../abstracts/' as *;

.grid-container {
    display: grid;
    gap: get-size(500);
    max-width: 90%;
    margin: 0 auto;
    justify-content: center;
    
    box-sizing: border-box;
    grid-template-columns: repeat(2, 1fr);

    @include mq(small){
        grid-template-columns: repeat(4, 1fr);
    }
    @include mq(medium){
        margin-top: 4rem;
        width: 75%;
        grid-template-columns: repeat(6, 1fr);
    }
}

.grid-box {
    box-sizing: border-box;
    border-radius: 8px;
    display: grid;
    justify-self: center;
    width: 100%;


    svg {
        justify-self: end;
        position: relative;
        top: get-size(500);
        right: get-size(500);
    }

    h2 {
        position: relative;
        bottom: get-size(500);
        left: get-size(500);
    }

    &[aria-label="graphic-design"]{
        grid-column: span 2;
        grid-row: span 2;
        gap: get-size(1500);
        background-color: map-get($colors, primary, graphic-design);
    }
    
    &[aria-label="ux-ui"]{
        gap: get-size(1150);
        background-color: map-get($colors, primary, ux-ui);
    }
    
    &[aria-label="apps"]{
        gap: get-size(1150);
        background-color: map-get($colors, primary, apps);
    }
    
    &[aria-label="illustrations"]{
        gap: get-size(1150);
        background-color: map-get($colors, primary, illustrations);
        
        grid-column: span 2;
    }
    
    &[aria-label="photography"]{
        gap: get-size(1150);
        background-color: map-get($colors, primary, photography);
        
        grid-column: span 2;
    }
    
    &[aria-label="motion-graphics"]{
        gap: get-size(1150);
        background-color: map-get($colors, primary, motion-graphics);
        
        grid-column: span 2;
    }
    
}