@use '../abstracts/' as *;

.button {
    border: none;
    border-radius: 100vw;

    padding: map-get($sizes, 200) map-get($sizes, 500);

    @include button();

    &__wob {
        background-color: map-get($colors, accent, button__wob);

        &:where(:hover, :focus){
            @include button__wob;
        }
    }

    &__wop {
        background-color: map-get($colors, accent, button__wop);

        &:where(:hover, :focus){
            @include button__wop;
        }
    }
}