@use '../abstracts/' as *;

.button {
    border: none;
    border-radius: 100vw;

    padding: get-size(200) get-size(500);
    

    @include button();

    &__wob {
        background-color: map-get($colors, accent, button__wob);

        &:where(:hover, :focus){
            @include button__wob;
        }
    }

    &__wop {
        background-color: map-get($colors, accent, button__wop);

        &:where(:hover, :focus){
            @include button__wop;
        }
    }

    &__arrow {
        background-color: map-get($colors, accent, arrows);
        border-radius: 50%;
        width: get-size(1250);
        font-size: get-size(500);

        display: flex;
        justify-content: center;
        text-align: center;
        
        &:where(:hover, :focus){
            @include button__arrow;
            font-size: get-size(500);
        }
    }
}

.button-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7%;
}